name: CI/CD Pipeline - Recommendation Service

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        working-directory: ./recommendation-service
        run: |
          docker images
          docker build -t recommendation-service-app .

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tag and push Docker image
        run: |
          docker tag recommendation-service-app:latest thinhnd24/fit-recommendation-service:latest
          docker push thinhnd24/fit-recommendation-service:latest

      - name: Trigger deploy on Render
        run: |
          curl -X POST https://api.render.com/deploy/srv-d4orkt0gjchc73eatt4g?key=PZVpoUOWHx8
















